
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

    body {
        background-color: #ffc7e0;
        color: #fff;
        font-size: 100%;
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
    }

    .button {
        background-color: #f3969b;
        font-weight: 300;
        color: #fff;
        font-size: 1.2em;
        text-decoration: none;
        border: 1px solid #efefef;
        padding: .5em;
        border-radius: 3px;
        float: left;
        margin: 6em 0 0 -85px;
        left: 50%;
        position: relative;
        transition: all .3s linear;
        box-shadow: 1px 1px 20px #c7c7c7;
        border-color: #f3969b;
    }

        .button:hover {
            background-color: #f3969b;
            color: #fff;
            border-color: white;
        }

    p {
        font-size: 2em;
        text-align: center;
        font-weight: 300;
        text-shadow: 1px 1px 6px #808080;
    }

    h1 {
        text-align: center;
        font-size: 15em;
        font-weight: 100;
        margin: 0;
        text-shadow: #f3969b 1px 1px, #f3969b 2px 2px, #f3969b 3px 3px, #f3969b 4px 4px, #f3969b 5px 5px, #f3969b 6px 6px, #f3969b 7px 7px, #f3969b 8px 8px, #f3969b 9px 9px, #f3969b 10px 10px, #f3969b 11px 11px, #f3969b 12px 12px, #f3969b 13px 13px, #f3969b 14px 14px, #f3969b 15px 15px, #f3969b 16px 16px;
    }
</style>
<body>
    <h1>404</h1>
    <p>Oops! Something is wrong.</p>
    <a class="button" href="/Home/Index"><i class="icon-home"></i> Go back Home Page.</a>
</body>
</html>

