@using (Html.BeginForm("LocTheoKichThuoc", "SanPham", FormMethod.Post))
{
    <h5>Kích Thước</h5>
    <button type="submit" name="size" value="X" class="btn-style-pink bg-transparent border-pink text-dark">X</button>
    <button type="submit" name="size" value="L" class="btn-style-pink bg-transparent border-pink text-dark">L</button>
    <button type="submit" name="size" value="M" class="btn-style-pink bg-transparent border-pink text-dark">M</button>
}
